{% extends "layout.html" %}
{% block body %}

<h1>
{{ pull_request.project.name }} #{{ pull_request.number }}:
{{ pull_request.title }}
</h1>

<h3>Head: <code>{{ pull_request.head }}</code></h3>
<h3>Merge head: <code>{{ pull_request.merge_head }}</code></h3>

{% for job in jobs %}
<h2>Job: <tt>{{ job.name }}</tt></h2>

    <table border="1" cellspacing="1" class="status_table">
    <tr>
    <th>Job number</th>
    <th>Status</th>
    {% for project in job.ordered_projects() %}
        <th>{{ project.name }} (master: <code>{{ project.master_sha }}</code>)</th>
    {% endfor %}
    </tr>

    {% for build_number, was_success, shas in job_builds[job] %}
    <tr>
    <td>{{ build_number }}</td>
    <td>
        <span class="badge badge-{% if was_success %}success{% else %}warning{% endif %}">
    {% if was_success %}Passed{% else %}Failed{% endif %}
        </span>
    </td>
        {% for sha in shas %}
            <td><code>{{ sha }}</code></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>


{% endfor %}

{% endblock %}
