{% extends "layout.html" %}
{% block body %}

<h1>
{{ pull_request.project.name }} #{{ pull_request.number }}:
{{ pull_request.title }}
</h1>

<h3>Head: {{ pull_request.head_commit }}</h3>

{% for job in jobs %}
<h2>Job: {{ job.name }} ({{job.job_type}})</h2>

    <table border="1" cellspacing="1">
    <tr>
    <th>id</th>
    <th>Status</th>
    {% for project in job.ordered_projects() %}
        <th>{{ project.name }}</th>
    {% endfor %}
    </tr>

    {% for build in job.builds %}
    <tr>
    <td>{{ build.id }}</td>
    <td>{{ build.status }}</td>
        {% for project in job.ordered_projects() %}
            {% with %}
                {% set commit = build.project_commits()[project.name] %}
                <td>{{ commit }}
                {% if
                    project != pull_request.project and
                    project.master_sha != commit
                %} (not master){% endif %}

                {% if
                    project == pull_request.project and
                    commit != pull_request.head_commit
                %} (not head){% endif %}
                </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>


{% endfor %}

{% endblock %}
