{% extends "layout.html" %}
{% block body %}
<!-- PRs which are ready to ship are in here -->
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Ready to ship</h3>
    </div>
    <div class="panel-body">
        {% if ready_pull_requests %}
        <table id="ready_pulls">
            <tr>
                <th>Project</th>
                <th>Pull request</th>
                <th>SHA</th>
                <th>Check Statuses</th>
            </tr>
            {% for pull in ready_pull_requests %}
                {% set p_owner = pull.project.owner %}
                {% set p_name = pull.project.name %}

            <tr class="ready_pull">
                <td>{{p_owner}}/{{ p_name }}</td>
                <td>
                    <a href="https://github.com/{{p_owner}}/{{p_name}}/pull/{{pull.number}}">
                        {{ pull.number }}: {{ pull.title }}
                    </a>
                </td>
                <td>
                    <a href="https://github.com/{{p_owner}}/{{p_name}}/commit/{{pull.head}}">
                        {{ pull.head[:6] }}
                    </a>
                </td>
                <td>
                    <span class="badge badge-success">OK</span> <a href="{{ pull.url }}">Details</a>
                    {% for check in pull.checks %}
                    <span class="label label-success">{{ check.name }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
                <h5>You gotta check yo'selves - before you wreck yo'selves!</h5>
        {% endif %}
    </div>
</div>

<!-- filter -->
<div class="panel">
    <div class="panel-heading">Filter by:</div>
    <div class="btn-group">
        <button id="filter-all" type="button" class="filter-on btn btn-default">show all</button>
        <button id="filter-username" type="button" class="filter-off btn btn-default">my pull requests</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                by project
                <span class="caret"></span>
            </button>
            <ul id="filter-project" class="dropdown-menu">
                <li id="p1"><a id="ap1" data-projectname="all" href="#" class="filter-project filter-on">
                    All
                </a></li>
                {% for project in projects %}
                    <li><a data-projectname="{{project.owner}}/{{project.name}}" href="#" class="filter-project">
                        {{project.owner}}/{{ project.name }}
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Grid of ordered pull requests -->
<div id="pr-container">
    {% for pull in pull_requests %}
        <div data-gh-user="{{ pull.owner }}" data-project="{{pull.project.owner}}/{{ pull.project.name }}" class="col-md-3 panel panel-default panel-headed pull_request">
            {% include "pull_request_checks.html" %}
        </div>

    {% endfor %}
</div><!-- close pr-container div -->
{% endblock %}
