
    <div class="panel-heading pr_heading">
        <a href="https://github.com/{{ pull.project.owner }}/{{ pull.project.name }}/pull/{{ pull.number }}">
            {{pull.project.owner}}/{{ pull.project.name }}/{{ pull.number }}
        </a>
    </div>
    <div class="panel-body">
        <p class="pr_description"><a href="{{ pull.url }}">{{ pull.title }}</a></p>
        <span class="pr_owner">{{ pull.owner }}</span><!--span class="pr_age"> opened 15 days ago</span--><br />
        <a class="sha_hash" href="https://github.com/{{ pull.project.owner }}/{{ pull.project.name }}/commit/{{ pull.head }}">
            <label>SHA:</label> {{ pull.head[:9] }}
        </a>
        <div class="check_statuses">
            {% for check in pull.checks %}
            <a href="{{ check.url }}" title="{{ check.verbose_name }}" class="label label-{{ check.status|status_label }}">{{ check.label }}</a><br/>
            {% endfor %}
            <span  class="pull-left">
                <span class="label label-{{ pull.sync_label }}">+ {{ pull.ahead_of_master }}</span>
                <span class="label label-{{ pull.sync_label }}">- {{ pull.behind_master }}</span>
            </span>
        </div>
    </div>
